@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (min-width: 768px) {
  #index {
    display: grid;
    grid-template-areas: "header header" "bar main" "bar division" "bar sect1" "bar div2" "bar sect2" "bar div3" "bar sect3" "bar div4" "bar sect4" "footer footer" "footer footer";
  }
}

.encabezado {
  grid-area: header;
}

/* barra izquierda */
.bar {
  grid-area: bar;
}
@media (min-width: 768px) {
  .bar {
    font-family: "Share Tech Mono", monospace;
    padding-left: 2vw;
    padding-top: 1vw;
    color: white;
    padding-right: 2vw;
  }
}
@media (max-width: 768px) {
  .bar {
    display: none;
  }
}

.bar li,
a {
  list-style-type: none;
  text-decoration: none;
  color: white;
  margin-top: 1vw;
  margin-left: 2vw;
}

.bar div {
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.bar h3:hover {
  transform: rotateZ(-8deg);
}

.bar h4:hover {
  transform: rotateZ(8deg);
}

/* ------- main -------- */
.main-index {
  grid-area: main;
}
@media (max-width: 768px) {
  .main-index {
    display: none;
  }
}

.c-img {
  width: 80vw;
  height: 45vw;
}

.carousel-caption h5,
p {
  font-family: "Share Tech Mono", monospace;
}

.carousel-caption h5,
p {
  color: white;
}

/* ------- sect1 -------- */
.sect1, .sect4, .sect3, .sect2 {
  grid-area: sect1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.div-imagen {
  display: inline-block;
  position: relative;
  font-family: "Share Tech Mono", monospace;
}

.div-imagen h3 {
  font-weight: bolder;
}

.div-imagen > div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 10px;
  margin: 0;
}

.desvanecer:hover {
  opacity: 0.2;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

.img-s1 {
  width: 100%;
}

/* ----- division ----- */
.division, .division4, .division3, .division2 {
  grid-area: division;
}
.division hr, .division4 hr, .division3 hr, .division2 hr {
  color: transparent;
}
.division h1, .division4 h1, .division3 h1, .division2 h1 {
  background-color: #251D3A;
  color: white;
  width: 100%;
  text-align: center;
  font-family: "Bungee Spice", cursive;
  padding-bottom: 30px;
  padding-top: 30px;
}

.division2 {
  grid-area: div2;
}

.sect2 {
  grid-area: sect2;
}

.division3 {
  grid-area: div3;
}

.sect3 {
  grid-area: sect3;
}

.division4 {
  grid-area: div4;
}

.sect4 {
  grid-area: sect4;
}

.bar img {
  width: 10vw;
  margin-top: 200px;
}

.bar img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.imgs {
  width: 16vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ---------------------------------------- Accesorios ---------------------------------------------- */
@media (min-width: 992px) {
  .acc-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .acc-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .acc-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.card {
  border-radius: 0;
  -webkit-box-shadow: 0 0px 4px #000000, 0 0 20px #000 inset;
  -moz-box-shadow: 0 0px 4px #000, 0 0 20px #000 inset;
  box-shadow: 0 0px 30px #000, 0 0 20px #CCC inset;
  margin: 2vw;
}
@media (min-width: 992px) {
  .card {
    width: 20vw;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .card {
    width: 28vw;
  }
}
@media (max-width: 768px) {
  .card {
    width: 45vw;
  }
}

.card img {
  height: 250px;
}

.card-title,
.card-text {
  font-family: "Share Tech Mono", monospace;
}

.btn-card {
  border-radius: 0;
  margin-left: 0;
  width: 100%;
}

.division2 hr {
  color: transparent;
  margin-top: 0;
}
.division2 h1 {
  background-color: #251D3A;
  color: white;
  width: 100%;
  text-align: center;
  font-family: "Bungee Spice", cursive;
}

.btn-form {
  border-radius: 0;
  margin: 0;
}

.btn-form:hover {
  background-color: #C70039;
}

#compra {
  padding: 2vw;
  font-family: "Share Tech Mono", monospace;
}
#compra .form-control {
  border-radius: 0;
}

/* ---------------------------------------- Repuestos ---------------------------------------------- */
.tech {
  background-image: url(../assets/imgs/repuestos/tech-service.jpg);
  background-size: 100vw auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tech div {
  font-family: "Share Tech Mono", monospace;
  width: 60vw;
}

.on {
  text-decoration: underline;
}

.centro {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

/* ------------------------------------------------ Elementos complementarios -------------------------------------------- */
/* Map de fondos de pantalla */
.bg0 {
  background-color: #06283D;
}

.bg1, .carousel-caption {
  background-color: rgba(1, 19, 38, 0.7);
}

.bg2, .btn-card:hover {
  background-color: #251D3A;
}

.bg3 {
  background-color: #F66B0E;
}

.bg4 {
  background-color: #5089C6;
}

.bg5 {
  background-color: #FF4C29;
}

/* --------------------------------------------- Diseños de la barra de navegacion ---------------------------------------- */
header {
  width: 100vw;
}
@media (min-width: 992px) {
  header {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  header img {
    height: 150px;
  }
  header nav ul a {
    color: white;
    font-size: 2.5vw;
    text-decoration: none;
    font-family: "Share Tech Mono", monospace;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  header nav ul a:hover {
    font-family: "Bungee Spice", cursive;
    font-size: 2.5vw;
  }
  header nav ul {
    list-style-type: none;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  header {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
  }
  header img {
    height: 150px;
  }
  header nav ul a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    font-family: "Share Tech Mono", monospace;
  }
  header nav ul a:hover {
    font-family: "Bungee Spice", cursive;
    font-size: 2rem;
  }
  header nav ul {
    list-style-type: none;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 768px) {
  header {
    height: auto;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
  }
  header a {
    margin: auto;
  }
  header img {
    height: 150px;
  }
  header nav ul a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    font-family: "Share Tech Mono", monospace;
  }
  header nav ul a:hover {
    font-family: "Bungee Spice", cursive;
    font-size: 2rem;
  }
  header nav ul {
    list-style-type: none;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

#logo {
  width: auto;
}

#logo:hover {
  -webkit-transform: scale(1.3);
  transform: scale(0.8);
}

footer {
  grid-area: footer;
  font-family: "Share Tech Mono", monospace;
}
@media (min-width: 768px) {
  footer {
    width: 100vw;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    padding: 1vw;
    padding-bottom: 300px;
  }
}
@media (max-width: 768px) {
  footer {
    width: 100vw;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    padding: 1vw;
    padding-bottom: 600px;
  }
}
footer ul {
  margin-left: 2vw;
  margin-top: 2vw;
}
footer h3 {
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */