<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="shortcut icon" href="../assets/imgs/favicon.jpg" type="image/x-icon">
    <!-- hoja de estilos -->
    <link rel="stylesheet" href="../scss/style.css">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet"> 
    <!-- Nombre de la pestaña -->
    <title>Computadoras</title>
</head>
<body>
    <!-- Barra de navegacion -->
    <header class="bg0">
        <a href="../index.html"><img src="../assets/imgs/logo.svg" alt="logo"></a>
        <nav>
            <ul>
                <li><a href="./accesorios.html">Accesorios</a></li>
                <li><a href="./repuestos.html">Repuestos</a></li>
                <li><a href="./computadoras.html">Computadoras</a></li>
                <li><a href="./sillas.html">Sillas</a></li>
            </ul>
        </nav>
    </header>

    <!-- Contenido principal -->
    <main>
        
    </main>
</body>
</html>