<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="shortcut icon" href="../assets/imgs/favicon.jpg" type="image/x-icon">
    <!-- estilos de bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- hoja de estilos -->
    <link rel="stylesheet" href="../scss/style.css">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    <!-- Nombre de la pestaña -->
    <title>Dispositivos</title>
</head>

<body>

    <!-- Barra de navegacion -->
    <header class="bg0">
        <a href="../index.html" target="_blank"><img id="logo" src="../assets/imgs/logo.jpg" alt="logo"></a>
        <nav>
            <ul>
                <li><a href="./accesorios.html" target="_blank">Accesorios</a></li>
                <li><a href="./repuestos.html" target="_blank">Repuestos</a></li>
                <li><a class="on" href="./dispositivos.html">Dispositivos</a></li>
                <li><a href="./sillas.html" target="_blank">Sillas</a></li>
            </ul>
        </nav>
    </header>

    <!-- Desktops -->
    <section class="division2 bg4" id="dis-1">
        <hr>
        <h1 class="fs-1">Desktops</h1>

    </section>

    <main class="acc-1 bg4">
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/des1.webp" class="card-img-top" alt="accesorio">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fs-2">Desktop<br> HP</h5>
                    <p class="card-text text-dark fs-5">
                        Desktop HP i5 8gb de RAM.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/des2.avif" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Desktop<br> Dell</h5>
                    <p class="card-text text-dark fs-5">
                        Desktop Dell i9 8gb de RAM.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/des3.jpeg" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Desktop<br> Dell</h5>
                    <p class="card-text text-dark fs-5">
                        Desktop Dell i5 4gb de RAM.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/des4.jpg" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Desktop<br> Mac</h5>
                    <p class="card-text text-dark fs-5">
                        Desktop Mac Catalina 12gb de RAM.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/des5.jpg" class="card-img-top" alt="accesorio">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fs-2">Desktop<br> Mac</h5>
                    <p class="card-text text-dark fs-5">
                        Desktop Mac S 16gb de RAM.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/des6.jpg" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Desktop<br>Acer</h5>
                    <p class="card-text text-dark fs-5">
                        Desktop Acer i7 8gb de RAM.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/des7.jpg" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Desktop<br> Lenovo</h5>
                    <p class="card-text text-dark fs-5">
                        Desktop Lenovo AMD Razor 12gb de RAM.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/des8.jpg" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Desktop<br>Lenovo</h5>
                    <p class="card-text text-dark fs-5">
                        Desktop Lenovo i7 4gb de RAM.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
    </main>

    <!-- Laptops -->
    <section class="division2 bg4" id="dis-2">
        <hr>
        <h1 class="fs-1">Laptops</h1>
    </section>

    <section class="acc-1 bg4">
        <div>
            <div class="card">
                <img src="../assets/imgs/acer-aspire.jpg" class="card-img-top" alt="accesorio">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fs-2">Acer Aspire</h5>
                    <p class="card-text text-dark fs-5">
                        Laptop i5 14" marca Acer.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dell-xps.avif" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Dell XPS</h5>
                    <p class="card-text text-dark fs-5">
                        Laptop i7 15" marca Dell.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/hp-omen.jpg" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">HP OMEN 15</h5>
                    <p class="card-text text-dark fs-5">
                        Laptop AMD Razor 15" marca HP.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/lap1.webp" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">HP S1</h5>
                    <p class="card-text text-dark fs-5">
                        Laptop AMD Razor 14" marca HP.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/lap2.webp" class="card-img-top" alt="accesorio">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fs-2">HP VICTUS</h5>
                    <p class="card-text text-dark fs-5">
                        Laptop AMD Razor 16" marca HP.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/lap3.avif" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Laptop HUAWEI</h5>
                    <p class="card-text text-dark fs-5">
                        Laptop i7 15" marca HUAWEI.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/lap4.webp" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Laptop HUAWEI</h5>
                    <p class="card-text text-dark fs-5">
                        Laptop i3 10" marca HUAWEI touch.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/lap5.jpg" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Laptop ASUS</h5>
                    <p class="card-text text-dark fs-5">
                        Laptop AMD Razor 16.5" marca ASUS.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Tablets -->
    <section class="division2 bg4" id="dis-3">
        <hr>
        <h1 class="fs-1">Tablets</h1>
    </section>

    <section class="acc-1 bg4">
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/tab1.jpg" class="card-img-top" alt="accesorio">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fs-2">Tablet<br> ASUS</h5>
                    <p class="card-text text-dark fs-5">
                        Tablet full hd marca ASUS.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/tab2.webp" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Tablet<br> Sandberry</h5>
                    <p class="card-text text-dark fs-5">
                        Tablet full hd marca Sandberry.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/tab3.webp" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Tablet<br> OWL</h5>
                    <p class="card-text text-dark fs-5">
                        Tablet full hd marca OWL.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/tab4.webp" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Tablet<br>Huawei</h5>
                    <p class="card-text text-dark fs-5">
                        Tablet full hd marca Huawei.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/tab5.jpeg" class="card-img-top" alt="accesorio">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fs-2">Tablet<br> Galaxy S8</h5>
                    <p class="card-text text-dark fs-5">
                        Tablet full hd marca Samsung.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/tab6.jpg" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Tablet<br>Huawei Pro10</h5>
                    <p class="card-text text-dark fs-5">
                        Tablet full hd marca Huawei.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/tab7.jpg" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Tablet<br>ASUS</h5>
                    <p class="card-text text-dark fs-5">
                        Tablet full hd marca ASUS.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/tab8.jpg" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Tablet<br>PCBOX</h5>
                    <p class="card-text text-dark fs-5">
                        Tablet full hd marca PCBOX.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Celulares -->
    <section class="division2 bg4" id="dis-4">
        <hr>
        <h1 class="fs-1">Celulares</h1>
    </section>

    <section class="acc-1 bg4">
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/cel1.jpg" class="card-img-top" alt="accesorio">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fs-2">Celular<br>Huawei</h5>
                    <p class="card-text text-dark fs-5">
                        Celular Android.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/cel2.jpg" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Celular<br>Apple</h5>
                    <p class="card-text text-dark fs-5">
                        Celular IOS.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/cel3.webp" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Celular<br>Samsung</h5>
                    <p class="card-text text-dark fs-5">
                        Celular Android.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/cel4.jpeg" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Celular<br>Samsung</h5>
                    <p class="card-text text-dark fs-5">
                        Celular Android.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/cel5.webp" class="card-img-top" alt="accesorio">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fs-2">Celular<br>Huawei</h5>
                    <p class="card-text text-dark fs-5">
                        Celular Android.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/cel6.jpg" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Celular<br>Xiomi</h5>
                    <p class="card-text text-dark fs-5">
                        Celular Android.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/cel7.jpeg" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Celular<br>Samsung</h5>
                    <p class="card-text text-dark fs-5">
                        Celular Android.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <img src="../assets/imgs/dispositivos/cel8.webp" class="card-img-top" alt="accesorio">
                <div class="card-body">
                    <h5 class="card-title fs-2">Celular<br>OPPO</h5>
                    <p class="card-text text-dark fs-5">
                        Celular Android.
                    </p>
                    <a href="#compra" class="btn btn-card bg0 text-white">Comprar</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Detalles de compra -->
    <section class="division2 bg4">
        <hr>
        <h1 class="fs-1">Detalles de compra</h1>
    </section>

    <section class="bg5">
        <form id="compra">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label fs-2">Direccion de correo electronico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="direccion_ejemplo@gmail/hotmail/yahoo.com">
                <div id="emailHelp" class="form-text text-white fs-4">Nunca compartiremos su correo con nadie.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label fs-2">Dirección de vivienda</label>
                <input type="text" class="form-control" id="exampleInputPassword1"
                    placeholder="Localidad - Pais de residencia - Direccion de vivienda">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label fs-4" for="exampleCheck1">Acepto terminos y condiciones</label>
            </div>
            <a href="../index.html" class="btn btn-form bg0 text-white fs-4">Proceder a facturación</a>
        </form>
        <br>
    </section>

    <!-- Pie de pagina -->
    <footer class="bg2">
        <div>
            <h3 class="fs-4">Locales alrededor del país (Guatemala)</h3>
            <ul class="fs-5">
                <li>Vista Hermosa 1, ciudad capital 5-20 zona 2</li><br>
                <li>San Antonio, Sacatepequez 3-14 sector 3</li><br>
                <li>Santa Catarina Pinula, Guatemala 2-20 zona 1</li>
            </ul>
        </div>
        <div>
            <h3 class="fs-4">Contacto</h3>
            <ul class="fs-5">
                <li>PBX: 456-456-789</li><br>
                <li>Correo: informacion@techClub.com</li><br>
                <li>Direccion postal: +001 4523</li>
            </ul>
        </div>
    </footer>

    <!-- JavaScript bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>

</html>